{% extends "PaymentBundle::layout.html.twig" %}

{% block title "Payment demo" %}

{% block content %}
    <ol>
        <h3>Payment</h3>

        <li>
            <a href="{{ path("acme_payment_prepare_order_purchase") }}">Choose payment and purchase.</a>
        </li>
        <li>
            <a href="{{ path("acme_other_example_gateway_factories_choice") }}">Gateway factories form type example</a>
        </li>

        <h3>Paypal Express Checkout</h3>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_simple_purchase_doctrine_orm") }}">Simple purchase. Doctrine ORM storage</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_simple_purchase_with_confirm_order_step") }}">Simple purchase. Confirm order step</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_simple_purchase_doctrine_mongo_odm") }}">Simple purchase. Doctrine Mongo ODM storage</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_digital_goods_purchase") }}">Purchase of digital goods</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_purchase_with_ipn_enabled") }}">Purchase with IPN enabled</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_recurring_payment_agreement") }}">Create recurring payment</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_simple_purchase_with_custom_api") }}">Purchase using custom API.</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_prepare_purchase_configured_in_backend") }}">Purchase with Paypal configured in backend.</a>
        </li>
        <li>
            <a href="{{ path("acme_paypal_express_checkout_prepare_simple_authorize") }}">Authorize payment.</a>
        </li>

        <h3>Paypal Masspay</h3>
        <li>
            <a href="{{ path("acme_paypal_masspay_prepare") }}">Payout simple example</a>
        </li>

        <h3>Paypal Pro Checkout</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_obtain_credit_card_paypal_pro") }}">Ask for credit card on when needed</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_paypal_pro") }}">Set credit card explicitly</a>
        </li>

        <h3>Paypal Pro Hosted</h3>
        <li>
            <a href="{{ path("acme_paypal_pro_hosted_prepare") }}">Purchase with IPN enabled</a>
        </li>

        <h3>Stripe</h3>
        <li>
            <a href="{{ path("acme_stripe_prepare_js") }}">Stripe.js example</a>
        </li>
        <li>
            <a href="{{ path("acme_stripe_prepare_checkout") }}">Checkout example</a>
        </li>
        <li>
            <a href="{{ path("acme_stripe_prepare_checkout_delayed") }}">Checkout example (delayed)</a>
        </li>
        <li>
            <a href="{{ path("acme_stripe_prepare_charge_stored_card") }}">Charge stored card</a>
        </li>
        <li>
            <a href="{{ path("acme_stripe_prepare_direct") }}">Direct example</a>
        </li>
        <li>
            <a href="{{ path("acme_stripe_prepare_subscription") }}">Create subscription</a>
        </li>



        <h3>Sofort</h3>
        <li>
            <a href="{{ path("acme_sofort_prepare") }}">Sofort example</a>
        </li>

        <h3>Authorize.Net</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_obtain_credit_card_authorize_net") }}">Ask for credit card on when needed</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_authorize_net") }}">Set credit card explicitly</a>
        </li>

        <h3>Be2Bill</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_obtain_credit_card_be2bill") }}">Ask for credit card on when needed</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_be2bill") }}">Set credit card explicitly</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_be2bill_offsite") }}">Offsite purchase</a>
        </li>

        <h3>Payex</h3>
        <li>
            <a href="{{ path("acme_payex_prepare_simple_purchase") }}">Simple purchase</a>
        </li>
        <li>
            <a href="{{ path("acme_payex_one_click_confirm_agreement") }}">One click purchase</a>
        </li>
        <li>
            <a href="{{ path("acme_payex_prepare_recurring_payment") }}">Recurring payment</a>
        </li>
        <li>
            <a href="{{ path("acme_payex_prepare_purchase_with_transaction_callback") }}">Purchase with transaction callback enabled</a>
        </li>

        <h3>Klarna</h3>
        <li>
            <a href="{{ path("acme_klarna_prepare_checkout") }}">Checkout</a>
        </li>
        <li>
            <a href="{{ path("acme_klarna_prepare_authorize_invoice") }}">Reserve Invoice</a>
        </li>
        <li>
            <a href="{{ path("acme_klarna_prepare_invoice") }}">Reserve&Activate Invoice</a>
        </li>

        <h3>Redsys\Sermepa</h3>
        <li>
            <a href="{{ path("acme_redsys_prepare") }}">Simple purchase</a>
        </li>

        <h3>Omnipay</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_paypal_express_via_omnipay") }}">Purchase with paypal express checkout</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_stripe_via_omnipay") }}">Purchase with credit card and stripe</a>
        </li>

        <h3>Others</h3>
        <li>
            <a href="{{ path("acme_other_example_select_payment") }}">Use your domain model(Cart) and select payment method</a>
        </li>
        <li>
            <a href="{{ path("acme_other_paypal_via_jms_plugin") }}">Purchase with paypal via jms payment plugin.</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_offline") }}">Offline payment.</a>
        </li>
        <li>
            <a href="{{ path("acme_other_develop_payment_gateway_on_top_of_payum") }}">Develop payment gateway on top of payum.</a>
        </li>
    </ol>
{% endblock %}

{% set code = code(_self) %}
