{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h3>NOVO PAGAMENTO: </h3>
    <ul>
        <li><b>Nome Empresa:</b> {{ companyName }}</li>
        <li><b>Responsavel:</b> {{ firstName }} {{ lastName }}</li>
        <li><b>Email: </b>{{ email }}</li>
        <li><b>NIF:</b> {{ vatNumber }}</li>
        <li><b>Morada:</b> {{ address }}</li>
        <li><b>Telefone: </b>{{ phoneNumber }}</li>
        <li><b>Subdominio: </b>{{ subDomain }}</li>
        <li><b>Plano:</b> {{ plan }}</li>
        <li><b>Periodo:</b> {{ period }}</li>
    </ul>

{% endblock %}
