{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h1> Olá, {{ firstName }},   </h1>
    <p>
        O seu período de experiência de 15 dias com o LEME terminou, e verifiquei que não subscreveu o nosso serviço.
        <br>
        <br>
        Teve todo o apoio necessário durante o seu período de experiência?<br>
        Não era o que procurava?
        <br>
        <br>
        <b>Se não teve tempo</b> de usufruir do nosso Software e gostava de perceber se este vai de encontro ao que pretende, marque uma <b>demonstração gratuita</b> online. Basta <b>responder a este mail</b>.
        <br>
        <br>
        Nota: A sua informação será conservada durante os próximos 10 dias. Terminado esse período, o conteúdo da sua conta Leme será removido.
        <br>
        <br>
        Abraço, <br>
        David Lara <br>
        Head of Customer Success<br>
        LEME
    </p>
{% endblock %}

