{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
   <h1>Olá, {{firstName}},</h1>
    <p>
        O prazo de regularização da sua conta de experiência com o LEME terminou, sem se verificar uma subscrição de um plano mensal.
        <br>

        Se quiser retomar o uso da sua conta LEME, contacte-nos através do chat integrado em <a href="https://unmaze.io">unmaze.io</a> ou directamente para o endereço
        <a href="mailto:support@unmaze.io">support@unmaze.io</a>.
        <br>
        <br>
        A Equipa LEME
    </p>

{% endblock %}

