{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h1>Olá, {{ firstName }},</h1>
    <p>
        A sua subscrição do LEME foi renovada por mais um período mensal. <br>
        Detalhes:
    <ul style="list-style-type:none">
        <li>-Plano: {{ planName }}</li>
        <li>-Número máximo de {{ maxUsers }} utilizadores activos</li>
        <li>-Valor: {{ value }} (+IVA)</li>
        <li>-Método de pagamento: {{ paymentType }}</li>
    </ul>
    <br>
    Obrigado por utilizar o Leme! Não se esqueça: se precisar de qualquer ajuda para aumentar a organização e eficiência da sua empresa, estamos à distância de um clique!
    <br>
    <br>
    A sua factura será enviada brevemente.
    <br>
    <br>
    A Equipa LEME
    </p>

{% endblock %}

