{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h1>Olá, {{ firstName }},</h1>

    <p>
        Obrigado por ter subscrito o plano {{ planName }} do LEME, no valor de {{ value }} (+IVA).<br>
        Este plano permite usufruir de todas as funcionalidades do LEME, por um número máximo de {{ maxUsers }}
        utilizadores.<br>
        Obrigado por utilizar o LEME! Não se esqueça: se precisar de qualquer ajuda para aumentar a organização e
        eficiência da sua empresa, estamos à distância de um clique!

    </p>
    <p>{{ planObservations }}</p>
    <p>

    <br>
    A sua factura será enviada brevemente.
    <br>
    <br>
    A Equipa LEME
    </p>

{% endblock %}

