{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
Erro no pagamento

    <ul>
        <li>Payment Type {{ paymentType }}</li>
        <li>Subdomain: {{ subdomain }}</li>
        <li>Email: {{ email }}</li></ul>
        <li>Periodo Current: {{ period  }}</li>
    </ul>
{% endblock %}

