{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h1>Olá, {{ firstName }},</h1>
    <p>
        Foi realizada sem sucesso uma tentativa de débito da mensalidade do seu LEME.<br/>
        Antes que a sua conta LEME seja suspensa tem um prazo de <b>10 dias</b> para regularizar o pagamento.
        <br>
        <br>
        Se precisar de ajuda, entre em contacto com a equipa através do chat integrado, ou por email para
        <a href="mailto:support@unmaze.io?subject='Regularização de pagamento LEME'">support@unmaze.io</a>.

        <br>
        A Equipa LEME
    </p>

{% endblock %}
