{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h1>Olá, {{ firstName }}</h1>
    <p>O seu período experimental do LEME termina num prazo de 10 dias. <br>
        Para garantir que pode continuar a usufruir do Leme, por favor associe um método de pagamento à sua conta de
        cliente:<br>
    </p>
    <ul>
        <li> Dentro do seu LEME, entre em <a href="https://{{ subDomain }}.unmaze.io/#/payments">Definições > Gestão da
                Subscrição</a></li>
        <li>Escolha um plano adequado às necessidades da sua empresa. <br></li>
        <li>Escolha um método de pagamento.</li>
    </ul>
    <p>
        Se tiver quaisquer questões, entre em contacto connosco em qualquer momento.
    </p>
    <br>
    A Equipa LEME
{% endblock %}
