{% extends "PaymentBundle::layout.html.twig" %}

{% block title "Prepare payment" %}

{% block content %}
    <form method="POST">
        {{ form_widget(form) }}
        <input type="submit" value="Pay" />
    </form>
{% endblock %}

{% set code = code(_self) %}