{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h3>STRIPE: Subdominio {{ client.subDomain }}</h3>
    <ul>
        <li>Dados de Facturação
            <ul>
                <li><b>Nome Empresa:</b> {{ billing_data.name }}</li>
                <li><b>NIF:</b> {{ billing_data.vatNumber }}</li>
                <li><b>Morada:</b> {{ billing_data.address }}</li>
                <li><b>Telefone: </b>{{ billing_data.phoneNumber }}</li>
            </ul>
        </li>
        <li>Dados STRIPE
            <ul>
                <li>Consultar stripe:
                    Cliente <a href="https://dashboard.stripe.com/customers/{{ stripe.customerId }}">Consultar AQUI</a>
                </li>
                <li>Estado STRIPE: {{ stripe.state }}</li>
            </ul>
        </li>
        <li>INFO USER
            <ul>
                <li><b>Plano:</b> {{ client.plan }}</li>
                <li><b>PROMO CODE:</b> {{ coupon_code }}</li>
                <li><b>Preço:</b> {{ price }}</li>
                <li><b>N Periodos desconto:</b> {{ n_periods }}</li>
            </ul>
        </li>
    </ul>

{% endblock %}
