{% extends 'LemeBundle:Mail:layout.html.twig' %}

{% block content %}
    <h3>EasyPay: Subdominio {{ client.subDomain }}</h3>
    <ul>
        <li>Dados de Facturação
            <ul>
                <li><b>Nome Empresa:</b> {{ easypay.name }}</li>
                <li><b>Email: </b>{{ easypay.email }}</li>
                <li><b>NIF:</b> {{ easypay.vatNumber }}</li>
                <li><b>Morada:</b> {{ easypay.address }}</li>
                <li><b>Telefone: </b>{{ easypay.phoneNumber }}</li>
            </ul>
        </li>
        <li>Dados PAGAMENTO
            <ul>
                <li><b>Nome Do banco : </b>{{ easypay.bankName }}</li>
                <li><b>IBAN: </b>{{ easypay.ibanCode }}</li>
                <li><b>SWIFT: </b>{{ easypay.swiftCode }}</li>
                <li><b>First Payment: </b>{{ nextPayment }}</li>
            </ul>
        </li>
        <li>INFO USER
            <ul>
                <li><b>Plano:</b> {{ client.plan }}</li>
                <li><b>PROMO CODE:</b> {{ coupon_code }}</li>
                <li><b>Preço:</b> {{ price }}</li>
                <li><b>N Periods deconto:</b> {{ n_periods }}</li>
            </ul>
        </li>
    </ul>

{% endblock %}
