{% extends 'base.html.twig' %}
{% form_theme form with ['form/fields.html.twig'] %}

{% block body %}

    <div class="ui middle aligned center aligned grid">
        <div class="ui three column ">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="assets/images/logo.png" class="image">
                    <div class="content">
                        Registo no Leme.io
                    </div>
                </h2>
                <div class="ui horizontal segments">
                    <div class="ui segment">
                    </div>
                    <div class="ui segment">

                        {{ form_start(form, {'attr':{'class':'ui form'}}) }}
                        {{ form_row(form.companyName) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.phoneNumber) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.subDomain) }}
                        {{ form_row(form.subscriptionPlan) }}

                        <div class="ui secondary clearing segment">
                            <button class="ui positive  right floated button" type="submit">Save</button>
                        </div>
                        {{ form_end(form) }}
                    </div>


                    <div class="ui segment">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}